@import "global_styles/colors.sass"
@import "global_styles/breakpoints.sass"

@keyframes fadeOut
  0%
    opacity: 0
  15%
    opacity: 1
  50%
    opacity: 1
  100%
    opacity: 0


.app
  text-align: center

.title
  font-size: 1em
  text-align: center
  text-transform: uppercase
  margin-bottom: 20px
  background-color: rgba(255, 255, 255, 0.8)
  margin-top: -25px

  span
    font-size: 0.9em
    text-transform: none
    font-weight: normal
    display: block
    color: darkGrey
    margin-top: 0.2em

.legend
  font-size: 0.7em
  display: inline-block
  margin: 0 auto

  span
    display: inline-block
    width: 8px
    height: 8px
    border-radius: 8px
    margin-right: 5px
    background-color: #0c5382

.annotation
  font-size: 0.9em
  animation: fadeOut 5s
  opacity: 0
  height: 60px;
  padding: 0 20px

  span
    display: block
    font-size: 0.9em
    color: darkGrey

.dotsWrapper
  svg
    width: 100%
    max-width: 400px

.controlls
  display: grid
  grid-auto-flow: column
  align-items: center
  justify-content: center

  button
    margin-right: 20px

    @include breakpoint(small)
      margin-right: 7px