@import "global_styles/colors.sass"
@import "global_styles/breakpoints.sass"

.app
  text-align: center

.title
  text-align: center

.legend
  display: inline-block
  margin: 0 auto

.dotsWrapper
  svg
    width: 100%
    max-width: 400px

.controlls
  display: flex