@import "global_styles/colors.sass"
@import "global_styles/breakpoints.sass"

.app
  text-align: center

.title
  font-size: 1em
  text-align: center
  text-transform: uppercase
  margin-bottom: 30px

  span
    font-size: 0.9em
    text-transform: none
    font-weight: normal
    display: block
    color: darkGrey
    margin-top: 0.2em

.legend
  font-size: 0.7em
  display: inline-block
  margin: 0 auto

  span
    display: inline-block
    width: 8px
    height: 8px
    border-radius: 8px
    margin-right: 5px
    background-color: #0c5382

.dotsWrapper
  svg
    width: 100%
    max-width: 400px

.controlls
  display: flex